body {
    background-image: url("/static/img/loginpage-background.jpg");
}


form {
    margin: 20px;
    color: white;
    text-align: center;
    padding: 30px;
    font-size: large;
}

.signup {
    margin: auto;
}