<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Details</title>
</head>
<body>
    <div class="main">
	
        {% for data in dataset %}

        <!-- Specify fields to be displayed -->
        {{ data.name }}<br/>
        {{ data.email }}<br/>
        {{ data.gender }}<br/>
        {{ data.phone }}<br/>
        {{ data.email }}<br/>
        {{ data.birthdate }}<br/>
        {{ data.specialization}}<br/>  
        
        {% endfor %}
    </div>   
</body>
</html>