<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/myHMS/hmswebapp/static/main.css">
    <title>Hospital Management System</title>
</head>
<body>
    <div class="topmenu">
        <div>
            <img src="/myHMS/hmswebapp/images/square-h-solid.svg" alt="">
            <h4>HMS CARE</h4>
        </div>
        <h1>Welcome to your Hospital Management System</h1>
        <nav>
            <a href="">Company</a>
            <a href="">About</a>
            <a href="">Features</a>
            <a href="">Login</a>
            <button>Sign Up</button>
        </nav>
    </div>
    </body>
</html>