{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Navbar</title>
</head>
<div class="topmenu">
    <div class="logo-text">
        <img src="{% static 'images/square-h-solid.svg' %}" alt="Page logo">
        <h4>HMS CARE</h4>
    </div>
    <nav>
        <a href="{% url 'mainpage' %}">Home</a>
        <a href="{% url 'aboutpage' %}">About</a>
        <a href="{% url 'loginpage' %}">Login</a>
        <button><a href="{% url 'signuppage' %}">Sign Up</a></button>
    </nav>
</div>