<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient data</title>
</head>
<body>
    <div class="main">

        {% for data in dataset %}
    
        {{ data.name }}<br/>
        {{ data.email }}<br/>
        {{ data.gender }}<br/>
        {{ data.phone }}<br/>
        {{ data.email }}<br/>
        {{ data.birthdate }}<br/>
        <a href="#"><button>Edit Details</button></a>
        <hr/>
    
        {% endfor %}
    
    </div>
    
</body>
</html>