<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View appointments</title>
</head>
<body>
    <div>
        <nav>
            <a href="#">Home</a>
            <a href="#">Back</a>
            <a href="{% url 'makeappointments' %}">Schdule new Appointment</a>
            <a href="{% url 'viewappointments' %}">View Appointments</a>
        </nav>
    </div>
    <div>
        {% for data in dataset %}
        <ul>
            <div><h5>{{data.patientname}} appointment with {{data.doctorname}} on {{data.appointmentdate}}</div>
                <div class="table">
                    <table>
                        <tr>
                            <td>Doctor Name:</td>
                            <td>{{data.doctorname}}</td>
                        </tr>
                        <tr>
                            <td>Patient Name:</td>
                            <td>{{data.patientname}}</td>
                        </tr>
                        <tr>
                            <td>Appointment Date:</td>
                            <td>{{data.appointmentdate}}</td>
                        </tr>
                        <tr>
                            <td>Appointment Time:</td>
                            <td>{{data.appointmenttime}}}</td>
                        </tr>
                        <tr>
                            <td>Appointment for:</td>
                            <td>{{data.appointmentfor}}</td>
                        </tr>
                        <tr>
                            <td>Details:</td>
                            <td>{{data.details}}</td>
                        </tr>
                    </table>
                </div>
            </li>
        </ul>
        {% endfor %}
    </div>
</body>
</html>