<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'makeappointments' %}">Make Appointments</a></li>
            <li><a href="{% url 'viewappointments' %}">View Appointments</a></li>
        </ul>
    </div>
    <div>
        {% for i in upcoming_appointments%}
        <ul>
            <li>,<h5>{{i.patientname}} appointment with {{i.doctorname}} on {{i.appointmentdate}}</h5>
                <div class="table">
                    <table>
                        <tr>
                            <td>Doctor Name:</td>
                            <td>{{i.doctorname}}</td>
                        </tr>
                        <tr>
                            <td>Patient Name:</td>
                            <td>{{i.patientname}}</td>
                        </tr>
                        <tr>
                            <td>Appointment Date:</td>
                            <td>{{i.appointmentdate}}</td>
                        </tr>
                        <tr>
                            <td>Appointment Time:</td>
                            <td>{{i.appointmenttime}}}</td>
                        </tr>
                        <tr>
                            <td>Symptoms:</td>
                            <td>{{i.symptoms}}</td>
                        </tr>
                        <tr>
                            <td>Delete Appointment:</td>
                            <td><a href="{% url 'delete_appointment' i.id %}" onclick="return confirm('are you sure you want to delete?')">Delete</a></td>
                        </tr>
                    </table>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>